@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-neon: #ccff00;
  --color-dark: #0a0a0a;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
}
